backcall==0.2.0
click==7.1.2
decorator==4.4.2
ipdb==0.13.7
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
python-dotenv==0.16.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
six==1.15.0
toml==0.10.2
traitlets==4.3.3
wcwidth==0.2.5
